.footer{
    min-height: 715px;

    &__top{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 100px 0 120px;
    }

    &__subtitle{
        font-size: 30px;
        line-height: 35px;

        color: #020E35;
    }

    &__title{
        
        font-size: 90px;
        line-height: 110px;
        margin-top: 25px;

        color: #020E35;
    }

    &__desc{
        margin-top: 38px;

        font-style: normal;
        font-weight: bold;
        font-size: 16px;    


        color: #2C3241;
    }

    &__input{
        width: 554px;
        height: 48px;

        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
        border-radius: 2px;

        margin-top: 8px;
        padding-left: 15px;
    }

    &__textarea{
        width: 554px;
        height: 168px;

        margin-top: 8px;
    }

    &__btn{
        margin-top: 30px;

        width: 554px;
        height: 48px;

        background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
        color: #FFFFFF;
    }

    &__bottom{
        height: 25px;
        background: #020E35;

        &-text{
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;

            color: #FFFFFF;
                    }
    }
}