.service{
    margin-top: 120px;

    &__title{
        font-size: 40px;
        line-height: 47px;
        text-align: center;

        color: #020E35;
    }

    &__wrapper{
        display: flex;
        margin-top: 40px;
    }
}