.work{
    background: #020E35;

    padding: 391px 0 50px 0;

    &__title{
        font-size: 40px;
        line-height: 47px;
        text-align: center;

        color: #FFFFFF;
    }

    &__link{
        display: block;
        width: 140px;
        height: 40px;

        background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);

        font-size: 12px;
       
        text-align: center;
        padding-top: 12px;
        margin: 0 auto;

        color: #FFFFFF;
    }

    &__app{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 50px 0;
    }

    &__image{
        margin-top: 70px;

        &:nth-child(odd){
            margin-right: 20px;
        }
    }

    &__block{
        margin-top: 70px;

        &:nth-child(odd){
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 20px;
        }

        &:nth-child(odd) .work__text{
            text-align: end;
        }
    }

    &__subtitle{
        font-style: normal;
        font-weight: normal;
        font-size: 30px;

        color: #FFFFFF;
    }

    &__subtext{
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;

        color: #FFFFFF;

        display: block;
        margin: 17px 0 50px 0;
    }

    &__text{
        max-width: 492px;

        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;

        color: #FFFFFF;
    }
}

